<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flask task</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<br>
<div class="row bg-info text-center">
	<h1>{{n}} Content</h1>
</div>
<div class="container text-primary">
	<br>
	{%if file!= None%}
		{%for i in file%}
		{{i}}
		<br>
		{%endfor%}
	{%endif%}

	<br>
</div>
  
<div class="row bg-info text-center" style="height: 80px">
</div>
</body>
</html>